<div class="row">
    <div class="col-11">
        <nav>
            <a class="button" routerLink="/home" routerLinkActive="activebutton">Home</a>
            <a class="button" routerLink="/account" routerLinkActive="activebutton">Account</a>
            <a class="button" routerLink="/account-add" routerLinkActive="activebutton">Add Account</a>
            <a class="button" routerLink="/account-list" routerLinkActive="activebutton">Account List</a>
            <a class="button" routerLink="/updateaccount" routerLinkActive="activebutton">Update Account</a>
            <a class="button" routerLink="/product-add" routerLinkActive="activebutton">Add Product</a>
            <a class="button" routerLink="/entity-add" routerLinkActive="activebutton">Add Entity</a>
        </nav>
    </div>
    <div class="col-1">
        <a routerLink="/account-list" (click)="logout()">Logout</a>
    </div>
</div>