<app-routeconfig></app-routeconfig>
<div class="row text-center">
    <h1>Balance Sheet Annexure Form</h1>
</div>
<div class="row ms-4 ps-4">
    <div class="col-6 pb-4">
        <label class="text-bold">Name</label>
        <input type="text" class="form-control w-75" placeholder="Enter Name" [(ngModel)]="name" maxlength="50">
    </div>
    <div class="col-6">
        <label class="text-bold">Code</label>
        <input type="text" class="form-control w-75" placeholder="Enter Code" [(ngModel)]="code" maxlength="10">
    </div>
    <div class="col-6 pb-4">
        <label class="text-bold">Detail in B/Sheet</label>
        <select [(ngModel)]="detilsinbs" class="form-select w-75">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>
    <div class="col-6">
        <label class="text-bold">Debit/Credit</label>
        <select [(ngModel)]="balanceType" class="form-select w-75">
            <option value="Credit">Credit</option>
            <option value="Debit">Debit</option>
        </select>
    </div>
    <div class="col-6 pb-4">
        <label class="text-bold">Description</label>
        <input type="text" class="form-control w-75" placeholder="Enter Description" [(ngModel)]="description" maxlength="200">
    </div>
    <div class="col-6">
        <label class="text-bold">Dr/Cr Effect</label>
        <select [(ngModel)]="drcreffect" class="form-select w-75">
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
    </div>
    <div class="col-6 pb-4">
        <label class="text-bold">Annx. Serial</label>
        <select [(ngModel)]="accountheadsr" class="form-select w-75">
            <option value="0">Select</option>
            <option [ngValue]="accountHeadDropDownModel.accountHeadId"
                *ngFor="let accountHeadDropDownModel of accountHeadDropDownModelList">
                {{accountHeadDropDownModel.accountHeadName}}
            </option>
        </select>
    </div>
    <div class="col-6">
        <label class="text-bold">Group</label>
        <select [(ngModel)]="group" class="form-select w-75">
            <option value="Balace_sheet">Balance Sheet</option>
            <option value="P/l">Profit Loss</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-8"></div>
    <div class="col-4 ps-2">
        <input type="button" class="btn btn-primary w-25 me-4" (click)="updateAccount()" value="Save">
        <input type="button" class="btn btn-primary w-25" (click)="reset()" value="Reset">
    </div>
</div>
<div class="text-bold p-4 m-4">
    <p>Note :: For New Group, Please Click "Add" Button after Group where you adjust</p>
</div>